$colors: (
  common: (
    white: #ffffff,
    black: #000,
  ),
  heading: (
    primary: #000,
  ),
  grey: (
    1: #f1f1f1,
    2: #f5f6f8,
  ),
  text: (
    body: #000,
    1: #000,
  ),
  theme: (
    1: #004e98,
    2: #007ea7,
  ),
  border: (
    1: #e0e1dd,
  ),
);
