@use "../utils" as *;

/*----------------------------------------*/
/*  02. School History CSS START
/*----------------------------------------*/
.history__area {
  margin-top: 30px;
  .history__content {
    h2 {
      font-size: 31px;
      color: var(--tp-common-black);

      align-items: center;
      margin-bottom: 15px;
      img {
        width: 30px;
        height: auto;
        margin-right: 10px;
      }
      .q-mark {
        color: var(--tp-theme-orange);
        margin-left: 5px;
      }
    }
    p {
      font-size: 18px;
      color: var(--tp-common-black);
    }
    a {
      color: var(--tp-theme-blue);
      font-size: 18px;
      text-decoration: underline;
      font-weight: 600;
    }
  }
  .history__img {
    img {
      width: 100%;
      background: var(--tp-common-white);
      padding: 10px;
      border-radius: 10px;
    }
  }
}
