$colors: (
  common: (
    white: #ffffff,
    black: #000,
  ),
  heading: (
    primary: #000,
  ),
  grey: (
    1: #e6e7e8,
    2: #fafafa,
    3: #ebebeb,
    4: #f5f5f5,
  ),
  text: (
    body: #000,
    1: #000,
    orange: #ff6600,
    red: #c40a2a,
    purple: #84154d,
    green: #098346,
    blue: #1399be,
    violet: #8768de,
    dark-green: #3a6351,
    chocolate: #26001b,
  ),
  theme: (
    header: #393232,
  ),
  border: (
    header: #e48257,
    1: #cccccc,
  ),
);
