@use "../utils" as *;

/*----------------------------------------*/
/*  02. HEADER CSS START
/*----------------------------------------*/

.header {
  &__top {
    padding: 10px 0;
    color: var(--tp-common-white);
    background-color: var(--tp-theme-2);
  }
  &__info {
    & ul {
      & li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        & a {
          color: var(--tp-text-2);
          font-size: 13px;
          &:hover {
            color: var(--tp-theme-1);
          }
          & i {
            margin-right: 5px;
          }

          & svg {
            width: 13px;
            height: 13px;
            margin-right: 5px;
            & path {
              fill: var(--tp-text-4);
            }
          }
        }
      }
    }
  }
  &__border {
    border-bottom: 1px solid rgba($color: #031220, $alpha: 0.07);
  }
  &__hamburger {
    margin-top: 3px;
    color: #fff;
    padding: 15px 0;
  }

  &__head {
    padding: 15px 0;
    gap: 30px;
    .logo {
      width: 100px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__title {
    h2 {
      margin-bottom: 0;
      // line-height: 7px !important;
    }
    p {
      margin-bottom: 0;
      // line-height: 7px !important;
    }
  }
  &__bottom {
    background-color: var(--tp-theme-1);
  }

  &__social {
    & ul {
      & li {
        display: inline-block;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        & a {
          font-size: 14px;
          color: var(--tp-common-white);
          display: inline-block;

          &:hover {
            color: var(--tp-theme-1);
          }
        }
      }
    }
  }
}

/* logo */

.logo {
  & img {
    width: 150px;
  }
}
.header__sticky {
  position: fixed !important;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 99;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: var(--tp-theme-1);
  padding: 10px 0;
}

/* main menu css */

.main-menu {
  background: var(--tp-theme-1);
  text-align: center;
  @media #{$lg} {
    margin-left: 50px;
  }
  & ul {
    & li {
      position: relative;
      list-style: none;
      display: inline-block;
      margin-right: 27px;
      & a {
        display: inline-block;
        font-size: 15px;
        color: var(--tp-common-white);
        padding: 10px 0;
      }
      &.has-dropdown {
        & > a {
          position: relative;
          &::after {
            content: "\f107";
            @include transform(translateY(1px));
            font-size: 14px;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-fontawesome);
            font-weight: 400;
            margin-left: 5px;
            display: inline-block;
          }
        }
      }
      & .submenu {
        position: absolute;
        top: 120%;
        left: 0;
        width: 200px;
        background: var(--tp-common-white);
        z-index: 99;
        @include transition(0.3s);
        visibility: hidden;
        opacity: 0;
        text-align: left;
        border-top: 5px solid var(--tp-theme-2);
        @include box-shadow(0px 30px 70px 0px rgba(11, 6, 70, 0.08));
        & li {
          display: block;
          width: 100%;
          margin: 0;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          &.has-dropdown {
            & > a {
              &::after {
                position: absolute;
                top: 50%;
                right: 25px;
                @include transform(translateY(-50%) rotate(-90deg));
              }
            }
          }
          & a {
            padding: 10px 25px;
            font-size: 13px;
            position: relative;
            z-index: 1;
            color: var(--tp-common-black);
            width: 100%;
          }
          & .submenu {
            left: 120%;
            top: 0;
            visibility: hidden;
            opacity: 0;
          }
          &:hover {
            & > a {
              color: var(--tp-common-white);
              background-color: var(--tp-theme-2);
            }
            & > .submenu {
              left: 100%;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      &:hover {
        & > a {
          color: var(--tp-common-white);
          &::after {
            color: var(--tp-theme-white);
          }
        }
        & > .submenu {
          top: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.tp-sidebar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background: #fff none repeat scroll 0 0;
  overflow-y: scroll;
  z-index: 9999;
  padding: 30px;
  transition: all 0.7s;
}
.tp-sidebar-menu.sidebar-opened {
  right: 0;
}
