@use "../utils" as *;
/************************************/
/***      07. Portfolio css	      ***/
/************************************/
.our__faculty {
  padding: 60px 0;

  .faculty__nav {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #3f51b5, #000000, #3f51b5);
    padding: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */

    button {
      flex: 1;
      text-align: center;
      padding: 8px 10px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 18px;
      border: none;
      margin: 5px;

      &.active {
        background: #ffffff3d;
        border-radius: 4px;
        border: 1px dashed #fff;
      }
    }
  }

  .subject__card {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .author {
      .author__head {
        .author__info {
          background: var(--tp-grey-1);
          display: flex;
          align-items: center;
          border: 1px solid var(--tp-border-1);
          gap: 10px;
          margin-bottom: 15px;
          padding: 10px 25px;

          .auth__img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .auth__content {
            p {
              margin: 0;
              font-size: 16px;
              font-weight: 500;

              i {
                margin-right: 7px;
                font-size: 14px;
              }
            }
          }
        }
      }

      .subject {
        text-align: center;
        margin-bottom: 15px;
      }

      .meta {
        padding: 7px 15px;
        background: var(--tp-grey-1);

        ul {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          padding: 0;

          li {
            font-size: 16px;

            i {
              margin-right: 7px;
            }

            &:first-child i {
              color: var(--tp-theme-green);
            }
            &:nth-child(2) i {
              color: var(--tp-theme-purple);
            }
            &:last-child i {
              color: #ffc107;
            }
          }
        }
      }
    }
  }
}

.text-purple {
  color: var(--tp-theme-purple);
}
.text-green {
  color: var(--tp-theme-green);
}
.yello {
  color: #ffc107;
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .faculty__nav {
    flex-direction: column;
    align-items: center;

    button {
      width: 100%;
      max-width: 200px;
      margin: 5px 0;
      font-size: 16px;
    }
  }
}
