@use "../utils" as *;

/*----------------------------------------*/
/*  02.  STUDENT CSS START
/*----------------------------------------*/
.student__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  @media #{$xs} {
    grid-template-columns: 1fr;
  }
  @media #{$sm} {
    grid-template-columns: 1fr 1fr;
  }
  @media #{$md} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.students__area {
  margin-top: 60px;
  .student__card {
    padding: 10px;
    border-radius: 10px;
    background: var(--tp-common-white);
    .student__img {
      img {
        width: 100%;
        height: 220px;
        object-fit: cover;
      }
    }
    .student__info {
      text-align: center;
      padding: 10px;
      background: var(--tp-common-white);
      h4 {
        margin-bottom: 15px;
      }
      .student__meta {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .gpa {
          display: inline-block;
          background: #27b73725;
          padding: 0px 9px;
          border-radius: 21px;
          color: #27b737;
          font-size: 12px;
        }
        .session {
          display: inline-block;
          background: #7d0cad20;
          padding: 0px 9px;
          border-radius: 21px;
          color: #8f41b0;
          font-size: 12px;
        }
      }
    }
  }
}

.section__heading {
  text-align: center;
  margin-bottom: 15px;
  h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    color: #3f3f3f;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    i {
      color: red;
      margin-right: 7px;
    }
    span {
      color: var(--tp-theme-green);
    }
  }
}

.location__area {
  .map {
    width: 100%;
    height: 280px;
    background: var(--tp-common-white);
    padding: 10px;
    border-radius: 10px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.divider {
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #eee, #a5a5a5, #eee);
  margin-top: 30px;
  margin-bottom: 30px;
}
