@use "../utils" as *;

/*----------------------------------------*/
/*  02. HEADER CSS START
/*----------------------------------------*/

.header {
  box-shadow: 0px 2px 5px -2px #000;
  &__transparent {
    position: fixed !important;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
    z-index: 99;
    background: transparent;
  }
  &__top {
    background-color: var(--tp-theme-blue);
  }
  &__bottom {
    background: var(--tp-theme-header-bg);
    box-shadow: 0 3px 6px -2px #000;
    z-index: 999;
    position: relative;
  }
  &__info {
    & ul {
      & li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        & a {
          color: var(--tp-text-2);
          font-size: 13px;
          &:hover {
            color: var(--tp-theme-1);
          }
          & i {
            margin-right: 5px;
          }

          & svg {
            width: 13px;
            height: 13px;
            margin-right: 5px;
            & path {
              fill: var(--tp-text-4);
            }
          }
        }
      }
    }
  }
  &__border {
    border-bottom: 1px solid rgba($color: #031220, $alpha: 0.07);
  }

  &__hamburger {
    margin-top: 3px;
    padding: 10px 0;
  }
  &__action {
    & ul {
      display: flex;
      gap: 10px;
      & > li:first-child {
        a {
          background: linear-gradient(174deg, #ff9800, #ff5722) !important;
        }
      }
      & li {
        list-style: none;
        & a {
          background: linear-gradient(174deg, #80cc06, #388811) !important;
          position: relative;
          font-size: 18px;
          // transform: scale(0.9) !important;
          top: 1px;
          border-radius: 0px;
          padding: 8px 10px;
          font-weight: 600;
          color: var(--tp-common-white);

          margin-top: 5px;
          &:hover {
            color: var(--tp-common-white);
          }
        }
      }
    }
  }

  &__social {
    & ul {
      & li {
        display: inline-block;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        & a {
          font-size: 14px;
          color: var(--tp-common-black);
          display: inline-block;
          font-size: 18px;
          color: var(--tp-common-black);
          padding: 10px 15px;

          &:hover {
            color: var(--tp-theme-1);
          }
        }
      }
    }
  }
}

.header__sticky {
  position: fixed !important;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 99;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: var(--tp-common-white);
}
/* logo */

.logo {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  & img {
    width: 70%;
    height: auto;
  }
}

.main-li {
  background: linear-gradient(174deg, #80cc06, #388811) !important;

  font-size: 18px;
  top: 1px;
  border-radius: 0px;
  padding: 8px 10px;
  font-weight: 600;
  color: var(--tp-common-white) !important;
  &:hover {
    color: var(--tp-common-white);
  }
}
/* main menu css */
.main-menu {
  @media #{$lg} {
    margin-left: 50px;
  }
  & ul {
    & li {
      position: relative;
      list-style: none;
      display: inline-block;
      &:last-child {
        a {
          border-right: none;
        }
      }

      & a {
        display: inline-block;
        font-size: 18px;
        color: var(--tp-common-black);
        padding: 10px 15px;
        border-right: 1px solid var(--tp-border-header);
        i {
          margin-right: 2px;
        }
      }
      & .submenu {
        position: absolute;
        top: 120%;
        left: 0;
        width: 260px;
        background: linear-gradient(174deg, #ff9800, #ff5722);
        box-shadow: 0px 2px 5px -2px #000;
        z-index: 99;
        visibility: hidden;
        opacity: 0;

        & li {
          display: block;
          width: 100%;
          margin: 0;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          &.has-dropdown {
            & > a {
              &::after {
                position: absolute;
                top: 50%;
                right: 25px;
                @include transform(translateY(-50%) rotate(-90deg));
              }
            }
          }
          & a {
            padding: 10px 25px;
            font-size: 18px;
            position: relative;
            z-index: 1;
            color: var(--tp-common-black);
            width: 100%;
            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: auto;
              right: 0;
              width: 0;
              height: 100%;
              background-color: var(--tp-theme-1);
              z-index: -1;
            }
          }
          & .submenu {
            left: 120%;
            top: 0;
            visibility: hidden;
            opacity: 0;
          }
          &:hover {
            & > a {
              color: var(--tp-common-white);
              &::after {
                color: var(--tp-common-white);
              }
              &::before {
                left: 0;
                right: auto;
                width: 100%;
              }
            }
            & > .submenu {
              left: 100%;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      &:hover {
        & > a {
          background: linear-gradient(174deg, #80cc06, #388811) !important;
          color: var(--tp-common-white);
          &::after {
            color: var(--tp-theme-1);
          }
        }
        & > .submenu {
          top: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.tp-sidebar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background: #fff none repeat scroll 0 0;
  overflow-y: scroll;
  z-index: 9999;
  padding: 30px;
  transition: all 0.7s;
}
.tp-sidebar-menu.sidebar-opened {
  right: 0;
}
.sidebar-close {
  width: 60px;
  height: 30px;
  background: var(--tp-theme-golden-bg);
  margin-bottom: 20px;
}
