@use "../utils" as *;

/*----------------------------------------*/
/*  02. Gallery CSS START
/*----------------------------------------*/
.gallery {
  padding: 30px 0;
  .gallery__box {
    overflow: hidden;
    background-color: var(--tp-common-white);

    border-radius: 10px;
    .section__title {
      margin-bottom: 30px;
      padding: 20px;
      background-color: var(--tp-theme-1);
      h2 {
        color: var(--tp-common-white);
        font-size: 24px;
        margin-bottom: 0;
      }
    }
    .gallery__images {
      padding: 20px;
      .gallery__item {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
  }
}
