@use "../utils" as *;

/*----------------------------------------*/
/*  02. HEADER CSS START
/*----------------------------------------*/

.header {
  &__bottom {
    background: var(--tp-theme-2);
    color: var(--tp-common-white);
  }

  &__hamburger {
    margin-top: 3px;
    padding: 10px 0 !important;
    font-size: 20px !important;
  }
}

.header-sticky {
  position: fixed !important;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 99;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: var(--tp-common-white);
}

/* logo */

.logo {
  & img {
    width: 150px;
  }
}

/* main menu css */

.main-menu {
  @media #{$lg} {
    margin-left: 50px;
  }
  & ul {
    & li {
      position: relative;
      list-style: none;
      display: inline-block;
      margin-right: 40px;
      & a {
        display: inline-block;
        font-size: 18px;
        color: var(--tp-common-white);
        padding: 23px 0;
        font-weight: 500;
      }
      &.has-dropdown {
        & > a {
          position: relative;
          &::after {
            content: "\f107";
            @include transform(translateY(1px));
            font-size: 14px;
            position: absolute;
            top: 29%;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-fontawesome);
            font-weight: 400;
            margin-left: 5px;
            display: inline-block;
          }
        }
      }
      & .submenu {
        position: absolute;
        top: 120%;
        left: 0;
        width: 230px;
        background: var(--tp-common-white);
        z-index: 99;
        @include transition(0.3s);
        visibility: hidden;
        opacity: 0;
        @include box-shadow(0px 30px 70px 0px rgba(11, 6, 70, 0.08));
        & li {
          display: block;
          width: 100%;
          margin: 0;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          &.has-dropdown {
            & > a {
              &::after {
                position: absolute;
                top: 49%;
                right: 25px;
                @include transform(translateY(-50%) rotate(-90deg));
              }
            }
          }
          & a {
            padding: 10px 25px;
            font-size: 18px;
            position: relative;
            z-index: 1;
            color: var(--tp-common-black);
            width: 100%;
            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: auto;
              right: 0;
              width: 0;
              height: 100%;
              background-color: var(--tp-theme-1);
              z-index: -1;
            }
          }
          & .submenu {
            left: 120%;
            top: 0;
            visibility: hidden;
            opacity: 0;
          }
          &:hover {
            & > a {
              color: var(--tp-common-white);
              &::after {
                color: var(--tp-common-white);
              }
              &::before {
                left: 0;
                right: auto;
                width: 100%;
              }
            }
            & > .submenu {
              left: 100%;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      &:hover {
        & > a {
          color: var(--tp-common-white);
          &::after {
            color: var(--tp-common-white);
          }
        }
        & > .submenu {
          top: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.tp-sidebar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background: #fff none repeat scroll 0 0;
  overflow-y: scroll;
  z-index: 9999;
  padding: 30px;
  transition: all 0.7s;
}
.tp-sidebar-menu.sidebar-opened {
  right: 0;
}
