@forward "components/theme";
@forward "components/background";
@forward "components/spacing";
@forward "components/buttons";
@forward "components/hero";
@forward "components/section-title";
@forward "components/animation";
@forward "components/_main-content";
@forward "components/notice";
@forward "components/portfolio";
@forward "components/counter";
@forward "components/teacher";
@forward "components/history";
@forward "components/links";
@forward "components/student";
@forward "components/teacher-details";
@forward "components/notice-page";

@forward "layout/header";
@forward "layout/meanmenu";
@forward "layout/page-details";
@forward "layout/footer";
