@use "../utils" as *;

/*----------------------------------------*/
/*  02. Counter CSS START
/*----------------------------------------*/
.counter__area {
  padding: 90px 0;
  .count__item {
    text-align: center;
    border: 1px solid var(--tp-border-1);
    padding: 30px 0;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$sm} {
      margin-bottom: 30px;
    }
    span {
      margin-bottom: 15px;
      display: block;
      i {
        font-size: 50px;
      }
    }
  }
}

.text-orange {
  color: #ffc107;
}
.text-blue {
  color: #0d6efd;
}
.text-red {
  color: #dc3545;
}
.text-green {
  color: #198754;
}
