@use "../utils" as *;

/*----------------------------------------*/
/*  02. HERO CSS START
/*----------------------------------------*/
.hero {
  &__banner {
    width: 100%;
    height: 80vh;
    position: relative;
    @media #{$xs} {
      height: 40vh;
    }
    @media #{$sm} {
      height: 40vh;
    }
    @media #{$md} {
      height: 50vh;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000005d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media #{$xs} {
      text-align: center;
    }
    @media #{$sm} {
      text-align: center;
    }
    @media #{$md} {
      text-align: center;
    }
    h2 {
      font-size: 46px;
      color: #fff;
      margin-bottom: 10px;
      font-weight: 800;
      @media #{$xs} {
        font-size: 25px;
      }
      @media #{$sm} {
        font-size: 25px;
      }
      @media #{$md} {
        font-size: 25px;
      }
    }
    p {
      color: #ffffffb3;
      font-size: 35px;
      font-weight: 500;
      @media #{$xs} {
        font-size: 18px;
      }
      @media #{$sm} {
        font-size: 18px;
      }
      @media #{$md} {
        font-size: 18px;
      }
    }
    .hero_btn {
      margin-top: 20px;
      display: flex;
      gap: 30px;
      .theme_btn {
        padding: 10px 20px;
        font-size: 16px;
        border: 1px solid #fff;
        @media #{$xs} {
          font-size: 12px;
          padding: 8px 14;
        }
      }
    }
  }
}
