@use "../utils" as *;

/*----------------------------------------*/
/*  02. LOCATION CSS START
/*----------------------------------------*/

.location__area {
  width: 100%;
  height: 450px;
  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}
