@use "../utils" as *;

/*----------------------------------------*/
/*  02. TEXT SCROLLING CSS START
/*----------------------------------------*/

.b-section {
  background-color: var(--tp-theme-1);

  // padding: 20px 0;
  .text_wrapper {
    .scroll_btn {
      background: var(--tp-common-white);
      padding: 0 40px;
      align-content: center;
      font-size: 20px;
      color: var(--tp-theme-2);
      font-weight: 700;
    }
  }
}
.b-section-marquee-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 7px 0;
}
.b-section-marquee-box p {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--tp-common-white);
  font-size: 16px;
  padding: 20px 0;
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: 400;
  flex-shrink: 0;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: b-text-scroll 35s linear infinite;
}
@keyframes b-text-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
