@use "../utils" as *;

/*----------------------------------------*/
/*  24. Baner and slider  CSS START
/*----------------------------------------*/
.top__text {
  background: var(--tp-theme-header);
  padding: 5px 10px;
  border-bottom: 5px solid var(--tp-border-header);
  p {
    font-weight: 700;
    color: var(--tp-common-white);
    font-size: 11px;
    margin-bottom: 0;
  }
}

.slider__area {
  position: relative;
  .slide__wrap {
    .slide__item {
      width: 100%;
      height: 225px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .slide__content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 30px;
    @media #{$xs} {
      flex-direction: column;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
    .slider__text {
      h3 {
        color: var(--tp-common-white);
        font-size: 32px;
        text-shadow: 2px 2px #000;
        @media #{$xs} {
          font-size: 25px;
        }
      }
    }
  }
}
