@use "../utils" as *;

/*----------------------------------------*/
/*  00. main content CSS START
/*----------------------------------------*/
.main__content {
  padding-top: 20px;
  @media #{$xs} {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner__img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  // scrolling text

  .b-section {
    background-color: var(--tp-grey-1);
    margin-top: 10px;
  }
  .b-section-marquee-box {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 7px 0;
  }
  .b-section-marquee-box p {
    white-space: nowrap;
    text-transform: uppercase;
    color: var(-tp-common-black);
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
    flex-shrink: 0;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
    animation: b-text-scroll 35s linear infinite;
  }
  @keyframes b-text-scroll {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  .notice {
    background-color: var(--tp-grey-4);
    background-image: url("../img/notice.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 15px;
    padding-left: 136px;
    @media #{$xs} {
      background-image: none;
      padding-left: 10px;
    }
    @media #{$sm} {
      background-image: none;
      padding-left: 10px;
    }
    @media #{$md} {
      background-image: none;
      padding-left: 10px;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
    ul {
      list-style: none;
      padding-left: 25px;
      margin-top: 25px;
      li {
        margin-bottom: 7px;
        a {
          font-size: 13px;
          border-bottom: 1px dotted #000;
          position: relative;
          &:hover {
            border-bottom-style: solid;
          }
          &::before {
            content: "\f061";
            font-family: "Font Awesome 6 Pro";
            top: 0;
            margin-right: 10px;
            color: var(--tp-text-green);
            left: 0;
            // position: absolute;
          }
        }
      }
    }
  }

  // education card

  .education__card {
    margin-top: 30px;
    .card__box {
      background-color: var(--tp-grey-4);
      padding: 10px 12px;
      margin-bottom: 20px;
      border-top: 1px solid var(--tp-border-1);
      border-left: 1px solid var(--tp-border-1);
      border-right: 3px solid var(--tp-border-1);
      border-bottom: 3px solid var(--tp-border-1);
      h4 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      .card__content {
        display: flex;
        align-items: center;
        gap: 20px;
        .card__icon {
          width: 100px;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .card__text {
          ul {
            list-style: none;
            li {
              line-height: 1.5;
              position: relative;
              &::before {
                content: "\f061";
                font-family: "Font Awesome 6 Pro";
                top: 0;
                margin-right: 10px;
                color: var(--tp-text-green);
                left: 0;
                // position: absolute;
              }
              &:hover {
                a {
                  border-bottom: 1px solid #000;
                  color: var(--tp-common-black);
                }
              }
              a {
                font-size: 12px;
                color: #666;
              }
            }
          }
        }
      }
    }
  }
}
