@use "../utils" as *;

/*----------------------------------------*/
/*  Video CSS START
/*----------------------------------------*/
.video_gallery {
  width: 100%;
  padding-top: 60px;
  overflow: hidden;

  .video_gallary_title {
    border-bottom: 1px solid var(--tp-border-1);
    margin-bottom: 20px;
    h3 {
      font-weight: 500;
      font-size: 20px;
    }
  }

  .video {
    width: 100%;
    iframe {
      width: 100%;
      height: 180px;
    }
  }
}
